*, 
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, 
     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
    background-color: rgb(238, 75, 175);
    color: rgb(24, 22, 22);
    line-height: 1.5;
    font-size: 0.875rem;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 1.25;
}
.container{
    margin-top: 10%;
    margin-left: 50%;
    padding: 20px;
    text-transform: lowercase;
    background-color: white;
    width: fit-content;
    border-width: 20px;
    border-radius: 10px;
}
.container button{
    margin-top: 10PX;
    word-spacing: 1px;
    color: white;
    line-height: 20px;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    border-color: lightcoral;
    border-radius: 3px;
    background-color: rgb(238, 75, 175);
}
.container h3{
    padding-bottom: 15px;
    text-transform: lowercase;
}
.container h2{
    
    padding-bottom: 10px;
}
.container h4{
    padding-top: 15px;
}